/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// disable ripple effect
.mat-mdc-button,
.mat-mdc-outlined-button {
    --mat-mdc-button-persistent-ripple-color: transparent;
    --mat-mdc-button-ripple-color: rgba(0, 0, 0, 0);
}


/* changes mat-hint color based on validity */
.validation-fail .ng-dirty{
    color: red !important;
}

.validation-pass {
    color: green !important;
}

