<button mat-button>
    <img src="assets\images/ssb-logo.png" alt="SSB logo" class="img-css" (click)="homePage()">
    <span class="img-title">Simple Second Brain</span>
</button>

<div class="container" fxLayoutAlign="center">
    <mat-card fxLayout="column" fxLayoutGap="18px">
        <h1 class="white-text">{{ title }}</h1>
        <mat-card-content>
            <br>
            <!-- <p>replace with google oauth2 blah blah blah</p> -->
            <!-- <asl-google-signin-button type='standard' size='large' style="align-self: center;"></asl-google-signin-button> -->
            <div id="g_id_onload"
                data-client_id="434480113364-ngdvuapr24njm2t1nq3cvprhhm1h1grc.apps.googleusercontent.com"
                data-context="signin" data-ux_mode="redirect"  data-login_uri="/" data-auto_prompt="false">
            </div>

            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
                data-size="large" data-logo_alignment="left">
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
        </mat-card-content>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field class="mat-field-login margin-bottom">
                        <mat-label> Enter your Username...</mat-label>
                        <input matInput placeholder="Username" maxlength="30" formControlName="userName"
                            class="mat-input-background-col">
                        <mat-icon matSuffix><fa-icon matSuffix [icon]="username_icon"></fa-icon></mat-icon>
                        <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
                            Please enter your <strong>Username</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="margin-bottom">
                        <mat-label> Enter your Password...</mat-label>
                        <input matInput [type]="hide ? 'password':'text'" placeholder="userPassword"
                            formControlName="userPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide"><mat-icon>{{hide ? 'visibility_off' :
                                'visibility'}}</mat-icon></button>
                        <mat-error *ngIf="loginForm.controls['userPassword'].hasError('required')">
                            Please enter your <strong>Password</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div id="button-align">
                    <button mat-raised-button type="submit">Continue with Username</button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-content>
            <br>
            <a href="" class="white-text">forgot password?</a>
            <br>
            <a routerLink="/signup" style="justify-content: center;" class="white-text">No account? Sign up here</a>
            <br>
            <div *ngIf="onSubmitError" [innerHTML]="errorResp" class="error-message"></div>
        </mat-card-content>
    </mat-card>
</div>