<h1 contenteditable="true">Title</h1>


<div id= "container" #container contenteditable="true" (input)="onContentChanged($event.target)" (keypress)="handleKeyPress($event)" class="block"></div>

<!-- <input type="text" [(ngModel)]="newDivText" (keydown.enter)="createDiv()" placeholder="Enter text and press Enter">
<div *ngFor="let divText of divTexts; let i = index" class="div-item">
  {{ divText }}
</div> -->
<!-- <div class="divContainer" #container>
    <div *ngFor="let div of divs" class="block" [innerHTML]="div"></div>
</div> -->