/* adjust logo */
.img-css {
    position: relative;
    padding-top: 55%;
    padding-left: 8.5%;
    left: -25px;
}

/* adjust error message inside mat-form-fields */
.error-message {
    color: red;
    text-align: center;
}

/* mat-card adjustments */
.mat-mdc-card {
    display: flex;
    width: 50%;
    height: 50%;
    align-content: center;
    align-items: center;
    box-shadow: none;
}

/* container containing the mat-card */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 10vh;
}

/* mat-form-field-background */
.mat-mdc-form-field {
    background-color: rgba(240, 240, 240, 0.904);
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* manual mat-divider using div and class */
.line {
    position: relative;
    height: 1px;
    background-color: black;
}

/* form field elements */
::ng-deep .mat-form-field {

    .mat-input-element {
        color: black;
    }

    .mat-form-field-label {
        color: rgb(196, 207, 218);
    }

    .mat-form-field-underline {
        background-color: slategray;
    }

    .mat-form-field-ripple {
        background-color: slategray;
    }

    .mat-form-field-outline {
        background-color: slategray;
    }

    /* button manupulation */
    .mat-mdc-raised-button.mat-unthemed {
        --mdc-protected-button-container-color: #e57878;
        --mdc-protected-button-label-text-color: #000;
        outline-width: 0.1px;
        outline-style: solid;
        outline-color: rgb(255, 87, 87);
    }
    

    
    /* set button to same size as mat-inputs */
    :host ::ng-deep .button-adjustment {
        /* flex: 1;
        box-sizing: border-box;
        box-shadow: none; */
        width: 100% !important; 
    }
    

}