<mat-toolbar color="accent">
    <button mat-button disableRipple (click)="homePage()">
      <img src="assets\images/ssb-logo.png" alt="SSB logo" class="img-css" >
      <span class="img-title">Simple Second Brain</span>
    </button>
  <span class="title-css">{{ title }}</span>
  <span class="example-spacer"></span>
  <ng-container *ngIf="!isLoggedIn">
    <button aria-label="login-button" mat-flat-button color="warn" (click)="loginPage()">
      Login
    </button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <button aria-label="logout-button" mat-flat-button color="warn" (click)="logout()">
      Logout
    </button>
  </ng-container>
</mat-toolbar>